# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.LospecJam1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\L.D.Moon Studio\LospecJam1\.idea\.idea.LospecJam1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
